li .links{
    text-decoration: none;
    font-size: 28;
    font-weight: 700;
    color: bisque;
    background-color: brown;
    padding: 15px 30px;
    border-radius: 10px;
}

li{
    list-style-type: none;

}
.list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}